extends header 

block content
    .container-main
        .content-container
            h1.title-content #{title}
            .ciphers-text-box
                span.text-help ¿Cómo cifrar texto?
                i(class='icon-expand-more').material-symbols-outlined unfold_more

            ul(class='help-menu')
                li
                    a Elija una opción de cifrado de su preferencia con sus respectivas características.
                li
                    a Simplemente pegue el texto que desea descifrar en el campo proporcionado "Introducir Texto para cifrar".
                li
                    a Haga clic sobre el botón Cifrar Texto.
                li 
                    a La herramienta generará el texto cifrado al instante.

            .container-category
                strong.title-category Selecciona el cifrador de texto de tu preferencia
                .content-category
                    .category-ciphers
                        a(href='/pageCesar'       class='cipher-box') Cesar 
                        a(href='/pageOctal'       class='cipher-box') Octal 
                        a(href='/pageBase64'      class='cipher-box') Base64 
                        a(href='/pageHexadecimal' class='cipher-box') Hexadecimal 

            script.
                const helpMenu = document.querySelector('.help-menu');//Selecciona el estilo help-menu
                const helpText = document.querySelector('.ciphers-text-box');// selecciona el estilo ciphers-text-box

                // Oculta el menú de ayuda al cargar la página
                helpMenu.style.maxHeight = '0';

                // Agrega un evento de clic al texto de ayuda
                helpText.addEventListener('click', function() {
                    if (helpMenu.style.maxHeight === '0px') {
                        helpMenu.style.maxHeight = '500px'; // Cambia la altura máxima para visualizar el contenido
                    } else {
                        helpMenu.classList.add('closing'); // Agrega la clase del cierre de nuestro styles.css
                        setTimeout(function() {
                            helpMenu.style.maxHeight = '0';
                            // Elimina la clase de cierre después de que termine la transición
                            setTimeout(function() {
                                helpMenu.classList.remove('closing');
                            }, 0); //El tiempo tiene que coincidir con el tiempo de la transición en CSS 
                            //para estimar el tiempo de respuesta para la animación
                        }, 0); // Espera 0 milisegundos antes de establecer la altura máxima en 0, es decir para que se cierre
                    }
                });