extends header 

block content
    .container-main-ciphers
        .content-container
            h1.title-content #{title}
            .ciphers-text-box
                span.text-help ¿Cómo cifrar texto?
                i(class='icon-expand-more').material-symbols-outlined expand_more
            ul(class='help-menu')
                li
                    a Elija una opción de cifrado de su preferencia con sus respectivas características.
                li
                    a Simplemente pegue el texto que desea descifrar en el campo proporcionado "Introducir Texto para cifrar".
                li
                    a Haga clic sobre el botón Cifrar Texto.
                li 
                    a La herramienta generará el texto cifrado al instante.
            .container-category
                strong.title-category Selecciona el cifrador de texto de tu preferencia
                .content-category
                    .category-ciphers
                        a(href='#' class='cipher-box') Cesar 
                        a(href='#' class='cipher-box') Sustitución 
                        a(href='#' class='cipher-box') Base64 
                        a(href='#' class='cipher-box') Hexadecimal 