extends header 

block content
    .container-main
        .content-container
            h1(class='title-content') ¡Bienvenido! a la página ENCRTEXT.
    
            p.text-content En esta página ofrecemos múltiples cifradores de texto. Proteja su información confidencial del acceso no autorizado, ilegible a simple vista y mantenga un control completo sobre su propia confidencialidad. Garantice su privacidad de contraseñas, conversaciones y más.
            .contain-warning
                .warning
                    img.img-warning(src='./Advertencia.png' alt='Imagen de Advertencia') 
                    p.text-warning ¡Advertencia!
            p.subtext-warning *La función de codificar no es brindar seguridad. Puede ser fácilmente decodificada en otros medios.
    
            p.text-content En esta página contamos con los siguientes cifrados:
    
            ul(class='list-home')          
                li 
                    a Cesar. 
                li 
                    a Octal.
                li
                    a Base64.
                li
                    a Hexadecimal.
    
        a(href= '/ciphers').start-now ¡Empezar ahora!