extends header

block content
    .container-login
        h1(class='titlePage') #{title}

        form(action='/login' method='POST' class='container-form-login')
            .groupForm
                label(for='' class='form-label') Usuario
                input.form-input(type='text' name='' id='' placeholder='Agregar usuario', required, autofocus)
            .groupForm    
                label(for='' class='form-label') Contraseña
                input.form-input(type='password' name='' id='' placeholder='Agregar contraseña', required)
            .groupForm 
                button(type='submit' class='btn-send') Iniciar sesión
        p ¿No tienes cuenta? 
            a(href='/register' class='suggesting-link') Registrarse