extends header

block content
    .container-login
        h1(class='titlePage') #{title}
        form(action='/login' method='POST')
            .groupForm
                .groupIcon-label
                    i.material-symbols-outlined person
                    label(for='' class='form-label') Usuario
                input.form-input(type='text' name='' id='user' placeholder='Agregar usuario', required, autofocus)
            .groupForm
                .groupIcon-label
                    i.material-symbols-outlined lock   
                    label(for='' class='form-label') Contraseña
                input.form-input(type='password' name='' id='password' placeholder='Agregar contraseña', required)
            .groupForm 
                button(type='submit' class='btn-send') Iniciar sesión
        hr.login-line-down
        .text-down-login
            p ¿No tienes cuenta?
            a(href='/register' class='suggesting-link') Registrarse
            p(class='suggesting-link-text') aqui