/*Fuentes de tipo de letra para el proyecto*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap");

/*clase del tipo de fuente Noto Sans*/
.noto-sans-Noto style {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/*clase del tipo de fuente Reddit Mono*/
.Reddit-Mono style{
    font-family: "Reddit Mono", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Clase para el icono del logout y otros relacionados */
.material-symbols-rounded {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* Clase para el icono del usuario y otros relacionados */
.material-symbols-outlined {
  font-variation-settings:'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/*Estilos globales*/
body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background-color:#f1eeee;
}

hr{
    border: none; /* Quita el borde predeterminado */
    height: 2px; /* Altura de la línea */
    background-color: #0070C0;
}

h1{
    font-family: "Noto Sans", sans-serif;
}

h2{
    font-family: "Reddit Mono", Arial;
}

a{
    text-decoration: none;
}

p{
    font-size: 22px;
}

img{
    user-select: none;
    pointer-events: none;
}

/*Estilo para el navbar del sitio*/
nav {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #0070C0;
    padding: 15px 0;
    user-select: none;
}
nav ul {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    padding: 0;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
nav ul li a {
    display: flex;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
    transition: background-color 0.3s;
}
nav ul li a:hover {
    background-color: white;
    color: black;
}
i{
    margin-top: -4px;
}

/*Estilos relacionados al inicio de la pagina*/
.container-header{
    margin-top: 42px;
}
.contain-header{
    display: flex; /* Usa flexbox para alinear los elementos */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Centra verticalmente los elementos */
}
.left-content{
    background-color: #70AD47;
    color: white;
    display: flex; /* Usa flexbox para los elementos a la izquierda */
    align-items: center; /* Centra verticalmente los elementos */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 25px;
    user-select: none;
}
.arrow-icon-left{
    margin-top: .5px;
    margin-right: 5px; /* Espacio entre el icono y el texto */
}
.title-text-header{
    text-align: center; /* Centra el texto del h1 */
    flex: 1; /* Hace que el título ocupe todo el espacio disponible */
    margin-right: 200px;
    font-size: 50px;
    color: #00B0F0;
    text-shadow: 2px 2px 2px #b3acac; /* Añade un resalte gris */
}

.content-container {
    position: relative; /* Cambia a posicionamiento relativo */
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px 40px;
    border: 2px solid #70AD47;
    background-color: white;
    font-size: 22px;
}
.title-content {
    margin-top: -10px;
    font-size: 35px;
    font-weight: 900;
}
.container-warning{
    display: flex; /* Usa flexbox para alinear los elementos */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Centra verticalmente los elementos */
}
.warning{
    display: flex;
    align-items: center;
}
.img-warning{
    margin-right: 5px;
    width: 80px;
    height: 80px;
}
.text-warning{
    user-select: none;
    font-size: 50px;
    font-weight: 600;
    animation: destello 5s infinite alternate; /* Aplicar la animación con una duración de 10 segundos y repetición infinita */
}
@keyframes destello {
    0% {
      color: rgb(210, 4, 4); /* Color amarillo al inicio */
      font-weight: bold;
    }
    50% {
      color: #e4b311; /* Color normal a la mitad de la animación */
    }
    100% {
      color: rgba(207, 9, 9, 0.868); /* Color amarillo al final */
      font-weight: bold;
    }
}
.subtext-warning{
    margin-top: -2px;
}
.list-home{
    line-height: 1.8;
}
.start-now {
    text-transform: uppercase;
    font-size: 30px;
    border-radius: 20px;
    padding: 20px;
    color: white;
    background: red;
    position: absolute; /* Posicionamiento absoluto */
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0%); /* Centra el botón en el centro absoluto */
    border: none;
    user-select: none;
}
.start-now:hover{
    background-color: rgb(199, 19, 19);
    cursor: pointer;
}

/*Estilo para el menú de los Cifradores*/
.container-main{
    margin-top: 35px;
}
.ciphers-text-box{
    display: inline-block;
    background-color: #e2e1e1;
    border-radius: 12px;
    padding-left: 15px;
    padding: 10px;
    margin-top: 10px;
    user-select: none;
    cursor: pointer;
}
.ciphers-text-box:hover{
    background-color: #868686;
    color: white;
}
.text-help{
    font-size: 35px;
    font-family: 'Times New Roman';
}
.icon-expand-more{
    font-size: 40px !important;
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
}
.help-menu{
    line-height: 1.8;
    margin-left: 15px;
    font-size: 28px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 500ms linear; /* Transición de 0.3 segundos con suavizado */
}
.help-menu.closing {
    transition: max-height 0ms linear; /* Transición más rápida para cerrar */
}
.container-category{
    text-align: center;
    margin-top: 40px; /* Ajusta el margen superior según sea necesario */
}
.title-category{
    display: inline-block;
    padding: 20px 40px;
    background-color: #e2e1e1;
    border-radius: 18px;
    width: 65%;
    font-weight: 900;
    font-size: 26px;
}
.content-category{
    margin-top: 12px;
    display: flex; /* Usa flexbox para alinear los elementos */
    justify-content:space-between; /* Espacio entre los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas */
}
.category-ciphers{
    width: 100%; /* Asegura que los elementos ocupen todo el ancho */
    display: flex; /* Usa flexbox para alinear los elementos */
    justify-content: space-between; /* Centra horizontalmente los elementos */
    flex-wrap: wrap;
}
.cipher-box{
    margin: 30px;
    padding: 15px;
    background-color: #AAD18C;
    border: 2px solid #AAD18C;
    border-radius: 16px;
    color: white;
    font-size: 3rem;
    text-align: center;
    vertical-align: middle;
    text-shadow: 2px 2px 2px rgb(136, 130, 130);
    cursor: pointer;
    user-select: none;
    width: 300px; /* Ajusta el ancho máximo de cada enlace */
    flex: 1; /* Permite que los enlaces se ajusten dinámicamente */
}
.cipher-box:hover{
    background-color: #70AD47;
    border: 2px solid #70AD47;
}

/*Estilo para la pagina del login*/
.container-login {
    background-color: hsl(0, 0%, 100%);
    border: 1px solid #0070C0;
    border-radius: 12px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 40%);
}
.titlePage {
    font-size: 2rem; /* Ajusta el tamaño del título según sea necesario */
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #0070C0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 2px;
    color: white;
    width: calc(100% + -3px); /* Ajusta el ancho para que cubra todo el ancho del contenedor */
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: 25px;
}
.groupForm {
    margin: 30px;
    margin-top: 20px;
    margin-bottom: 20px; /* Ajusta el margen inferior de cada grupo de formulario según sea necesario */
}
.groupIcon-label{
    display: flex;
    justify-content:start; /* Espacio entre los elementos */
    align-items: center; /* Centra verticalmente los elementos */
}
.icon-login{
    font-size: 1.8rem !important;
}
.form-label {
    display: block; /* Convierte las etiquetas en elementos de bloque */
    margin: 10px;
    font-size: 1.8rem;
}
.form-input{
    width: 92%; /* Ajusta el ancho de los campos de entrada */
    padding: 12px; /* Ajusta el relleno de los campos de entrada según sea necesario */
    margin-bottom: 10px; /* Ajusta el margen inferior de los campos de entrada según sea necesario */
    font-size: 1.3rem;
    border-radius: 5px;
    border: 1px solid #0070C0;
    align-self: center;
}
input:hover, input:focus, input:active, input:focus-visible{
    border: 1px solid #007bff;
    outline-width: 1px;
    outline-style: solid;
    outline-color: #007bff;
}
.btn-send {
    border: none;
    border-radius: 8px;
    font-size: 24px;
    color: white;
    background-color: #70AD47;
    width: 50%; /* Ajusta el ancho del botón de enviar */
    padding: 10px; /* Ajusta el relleno del botón de enviar según sea necesario */
    padding-left: 5px;
    padding-right: 5px;
    transform: translate(50%, 0%);
    cursor:pointer;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.btn-send:hover{
    background-color: #429206;
    color: #e2e1e1;
}
.line-down{
    display: flex;
    transform: translate(0%, 0%);
    width: 100%;
}
.line-down-text{
    display: flex;
    justify-content:center; /* Espacio entre los elementos */
    align-items: center; /* Centra verticalmente los elementos */
}
.suggesting-link{
    margin-left: 8px;
    border-bottom: 1px solid #0070C0; /* Estilo y color de la línea de enlace */
    color: #0070C0;
}
.suggesting-link-text{
    margin-left: 8px;
}
.suggesting-link:hover {
    color: #4ba1df; /* Cambiamos el color del texto al pasar el ratón */
    border-bottom-color: #4ba1df; /* Cambiamos el color de la línea al pasar el ratón */
}

/*Estilo para el registro*/
.container-register {
    background-color: hsl(0, 0%, 100%);
    border: 1px solid #0070C0;
    border-radius: 12px;
    width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 31.5%);
}
.register-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.groupForm-register{
    margin: 120px;
    margin-top: 10px;
    margin-bottom: 12px; /* Ajusta el margen inferior de cada grupo de formulario según sea necesario */
    margin-left: 30px;
}
.form-register{
    font-size: 1.6rem !important;
}
.form-input-register{
    width: 125%; /* Ajusta el ancho de los campos de entrada */
    padding: 12px; /* Ajusta el relleno de los campos de entrada según sea necesario */
    margin-bottom: 10px; /* Ajusta el margen inferior de los campos de entrada según sea necesario */
    font-size: 1.3rem;
    border-radius: 5px;
    border: 1px solid #0070C0;
    align-self: center;
}
.groupForm-btnRegister{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}
.btnRegister{
    width: 45% !important;
    transform: translate(2%, 0%) !important;
}

/*Estilo para la página de los cifradores*/
.cipherPage-container {
    max-width: 1330px; /* Se usa max-width para que no se desborde en pantallas pequeñas */
    margin: auto; /* Centra el contenedor */
    padding: 0 20px; /* Añadido para espacio en los lados */
    box-sizing: border-box; /* Asegura que el padding no incremente el ancho */
    position: relative;
    top: 50%;
    transform: translateY(0%);
    line-height: 1.5;
}
.title-cipherPage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.cipherPage-box {
    display: flex;
    flex-direction: column; /* Apila los elementos */
    align-items: center; /* Centra los elementos */
}
.messageAlert{
    margin-top: -10px;
    margin-bottom: 40px;
    font-size: 200%;
    color: #ff0000;
}
.form-cipherPage{
    margin-bottom: 50px;
}
.box-clave-cipherPage{
    margin-bottom: 20px;
    font-size: 30px;
    vertical-align: middle;
}
.select-clave-cipherPage{
    font-size: 18px;
    border: 2px solid #0070C0;
    padding: 10px 15px;
    margin-left: 5px;
    cursor: pointer;
    font-size: 26px;
}
.select-clave-cipherPage option {
    background-color: white;
    color: #0070C0;
}
.select-clave-cipherPage:focus{
    outline: 0;
}
.label-cipherPage {
    font-size: 1.5rem;
    margin-top: 20px;
}
.box-text-cipherPage {
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-textarea {
    width: 100%; /* Ajustado para llenar el contenedor */
    font-size: 1.5rem;
    resize: none; /* Cambiado para negar el redimensionamiento vertical */
    border: 2px solid #0070C0;
}
.form-textarea:hover, .form-textarea:focus, .form-textarea:active, .form-textarea:focus-visible{
    border: 2px solid #007bff;
    outline-width: 1px;
    outline-style: solid;
    outline-color: #007bff;
}
.textarea-blocked:hover, .textarea-blocked:focus{
    outline: none !important;
    border: 2px solid #0070C0 !important;
    cursor: default; /* Establece el cursor predeterminado */
}
.box-btn-cipherPage {
    display: flex;
    justify-content: flex-end; /* Alinea los botones al final */
    margin-top: 20px;
}
.btn-cipherPage {
    font-size: 20px;
    padding: 12px 20px;
    color: white;
    background-color: #429206;
    border-radius: 15px;
    border: none;
}
.btn-cipherPage:hover {
    background-color: #70AD47;
    cursor: pointer;
}

/*Para Dispositivos moviles */
@media only screen and (max-width: 767px){
    /*navbar*/
    nav {
        padding: 5px 0;
    }
    nav ul {
        margin-left: 6px;
    }
    nav ul li {
        margin-right: auto;
    }

    /*header*/
    .left-content{
        padding-right: 15px;
        max-width: 80%;
        font-size: 10px;
    }
    .contain-header{
        display: flex; /* Usa flexbox para alinear los elementos */
        justify-content:center; /* Espacio entre los elementos */
        align-items: center; /* Centra verticalmente los elementos */
    }
    .title-text-header {
        text-align: end;
        margin-right: 30px;
        font-size: 1.8rem;
    }

    /*index*/
    .content-container{
        margin: 15px;
        padding: 15px 20px;
    }
    .title-content{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
    }
    .text-content{
        font-size: 1rem;
    }
    .img-warning{
        width: 40px;
        height: 40px;
    }
    .text-warning{
        font-size: 1.3rem;
    }
    .subtext-warning{
        font-size: 1rem;
    }
    .list-home{
        font-size: 1rem;
    }
    .start-now{
        transform: translate(-50%, 30%); /* Centra el botón en el centro absoluto */
        font-size: 1rem;
        padding: 12px;
    }

    /*ciphers*/
    .ciphers-text-box{
        padding: 5px;
    }
    .text-help{
        font-size: 22px;
    }
    .icon-expand-more{
        margin-left: 10px;
        font-size: 25px !important;
    }
    .help-menu{
        font-size: 1rem;
        margin-left: 5px;
    }
    .title-category{
        padding: 10px;
        font-size: 1rem;
    }
    .cipher-box{
        padding: 10px;
        font-size: 1.2rem;
    }

    /*login*/
    .container-login{
        width: 85%;
    }
    .icon-login{
        font-size: 1.4rem !important;
    }
    .form-label{
        font-size: 1.4rem;
    }
    .form-input{
        font-size: 1rem;
    }
    .btn-send{
        font-size: 1rem;
        width: 80%;
        padding-left: 0;
        padding-right: 0;
        width: 48%;
        transform: translate(50%, 0%);
    }
    .suggesting-link{
        font-size: 1rem;
    }
    .suggesting-link-text{
        font-size: 1rem;
    }

    /*register*/
    .container-register{
        width: 92%;
        transform: translate(-50%, 22%);
    }
    .register-row{
        display:inline;
        justify-content:start; /* Espacio entre los elementos */
        align-items: center; /* Centra verticalmente los elementos */
    }
    .groupForm-register{
        margin: 10px;
    }
    .form-input-register{
        width: 90%;
        padding: 10px;
        font-size: 1rem;
        margin-left: 10px    ;
    }
    .form-register{
        font-size: 1.2rem !important;
    }
    .btnRegister{
        font-size: 16px;
        width: 80%;
    }

    /*página de los cifradores*/
    .cipherPage-container {
        padding: 0 50px; /* Reducido el padding para pantallas más pequeñas */
    }
    .box-btn-cipherPage {
        justify-content: center; /* Alinea los botones al centro */
    }
    .btn-cipherPage {
        margin-right: 0; /* Eliminado el margen derecho */
        margin-bottom: 20px; /* Añadido margen inferior */
    }
    .title-cipherPage{
        margin-top: 60px;
        font-size: 1.5rem;
    }
    .label-cipherPage{
        font-size: 1rem;
    }
    .form-textarea{
        font-size: 1rem;
    }
    .box-clave-cipherPage{
        font-size: 18px
    }
    .select-clave-cipherPage{
        padding: 5px 10px;
        font-size: 1rem;
    }
    .messageAlert{
        font-size: 100%;
    }
}

/*Para tabletas y escritorios*/
@media only screen and (min-width: 768px) and (max-width:1024px){
    /*header*/
    .contain-header{
        display: flex; /* Usa flexbox para alinear los elementos */
        justify-content:center; /* Espacio entre los elementos */
        align-items: center; /* Centra verticalmente los elementos */
    }
    .left-content{
        font-size: 14px;
    }
    .title-text-header {
        text-align: end;
        margin-right: 120px;
        font-size: 2.5rem;
    }

    /*index*/
    .content-container{
        padding: 20px 30px;
    }

    /*register*/
    .container-register{
        width: 85%;
        transform: translate(-50%, 28%);
    }
    .form-register{
        font-size: 1rem !important;
    }
    .form-label{
        font-size: 1rem;
    }
    .form-input-register{
        font-size: 1rem;

    }
    .btnRegister{
        width: 40% !important;
    }
}